extends iframe-layout

block scripts
  script(src="/javascripts/jquery-3.3.1.min.js")
  script(src="/javascripts/section3-1.js")

block content
  p 
    - var strReturn = "\r\n";
    textarea(id="textA", name="textA", cols="100", rows="10") #{chart_title}#{strReturn}
      each obj in chart_data 
        | #{obj.aname},
        | #{obj.avalue}#{strReturn}
  p Test Generate Excel File:&nbsp;&nbsp;
    a(href="#", id="btnGenFileLink", style="font-size:12pt") Click Here to generate a Excel file link for download
    div(id="divLink", hidden)
  p
    h2 This is Section3-1. (type = 101)